@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}

.main{
    display:flex;
    width:100%;
    height:100vh;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    justify-content:center;
    flex-direction:column;
    align-items:center;
    font-family: 'Bebas Neue', cursive;
}

.main>h1{

    font-size: 5rem;
    margin: 40px auto;
   

}

.chatbox{
    display:flex ; 
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-image:url(./back.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    /* background-color:blue; */
    height:80%;
    width:30%;
    border-radius:10px;
}

.chatbox> h1{
    font-size:3rem;
    width:100%;
    background-color: purple;

    position: relative;
    bottom:328px;
    color:white;
    opacity: .7;
    padding:20px;
    
}
.inbox{
    display:flex ;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    font-family: 'Yusei Magic', sans-serif;
    
}

.nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:white;
    width:99%;
    position: relative;
    opacity: .4;
    bottom:330px;
    padding:10px;
    box-shadow: 5px 5px 10px black;
    
    
}
.nav > h1 {
    font-size:1.5rem;
    position: relative;
    padding:1px;
    margin:0px auto;
    
}

.nav > h2{
    font-size:1rem;

    text-transform:lowercase;
    color:grey;
}

.messegebox{
    Display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:purple;
    border:2px solid black;
    box-shadow: 5px 5px 10px white , -5px -5px 10px white;
    width:20%;
    height:200px;
    position: absolute;
    opacity:.8;
    color:white;
    border-radius:20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    top:590px;
}

.typemessege{

    
    width:30%;
    
    position: absolute;
    bottom:30px;
    padding:20px;
    
}
form > input:focus{
    border:4px solid black;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    color:white;
    opacity:1;
    outline:none;
    transform: translateY(-10px);
    transition:0.7s;
    
}
form > input{
    
    
    width:80%;
    background-color:transparent;
    height:40px;
    border:4px solid white;
    border-radius:40px;
    font-size: 1.5rem;
    padding:20px;
    transform: translateY(Opx);
    transition:0.7s;
    box-shadow:4px 4px 8px white;
  
}
input::placeholder{
    color:white;
}

 input:focus::placeholder
{
  color:transparent;
}
.typemessege > #btn{
    text-decoration:none;
    padding:12px 30px;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    font-size: 1.3rem;
    color:black;
    border-radius:20px;
    border:2px solid yellow;
    
}

